<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxCJVV8qWinaMI-8qnuLPhfruRBpRLRrU</string>
	<key>GCM_SENDER_ID</key>
	<string>1035927122108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talkbuddy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>talk-buddy-8ab7b</string>
	<key>STORAGE_BUCKET</key>
	<string>talk-buddy-8ab7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035927122108:ios:6a07e9e63c64f9ec94e0b9</string>
</dict>
</plist>